.leaf,
.leaf-reverse,
.leaf-alt {
  display: none;
}

@media screen and (min-width: 1440px) {
  .leaf {
    z-index: -1;
    display: block;
    position: absolute;
    top: 50%;
    right: 24%;
  }
  .leaf-reverse {
    z-index: -1;
    display: block;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: rotate(-180deg);
  }
  .leaf-alt {
    z-index: -1;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(55%, 30%);
  }
}
