.cta {
  width: 327px;
  height: 379px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(50%);
  margin-inline: auto;
  background-color: var(--peach);
  border-radius: 15px;
  text-align: center;
  color: var(--white);
  background-image: url(../../assets/shared/desktop/bg-pattern-call-to-action.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.cta-wrapper {
  width: 279px;
  margin-inline: auto;
}

.cta-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  margin-block: 0;
}

.cta-paragraph {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  margin-block: 6px 32px;
}

@media screen and (min-width: 768px) {
  .cta {
    width: 690px;
    height: 350px;
    transform: translateY(25%);
    background-position: left;
  }
  .cta-wrapper {
    width: 573px;
  }
  .cta-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
  }
  .cta-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 75%;
    margin-inline: auto;
  }
}

@media screen and (min-width: 1440px) {
  .cta {
    width: 1110px;
    background-position: right;
  }
  .cta-wrapper {
    display: grid;
    grid-template-columns: 1fr .6fr;
    grid-template-rows: 1fr 1fr;
    width: fit-content;
    text-align: left;
    margin-left: 95px;
  }
  .cta-title {
    grid-column: 1 / 1;
    grid-row: 1/1;
  }
  .cta-paragraph {
    margin-block: 16px 0;
    margin-inline: 0;
    grid-row: 2/2;
  }
  .cta a {
    margin: auto 95px auto;
    grid-row: 1/3;
  }
}