.nav {
  width: 90%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
}

.logo {
  width: 200px;
  height: 27px;
  display: flex;
}

.hamburger {
  display: flex;
  cursor: pointer;
}

.nav-list {
  display: none;
  list-style: none;
}

.nav-list.mobile {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  text-align: left;
  top: 90px;
  left: 0;
  margin-block: 0;
  padding-block: 48px;
  padding-left: 5%;
  gap: 32px;
  background-color: var(--black);
  width: 100%;
}
.nav-list.mobile > .nav-list__item > a {
  color: var(--white);
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.close {
  display: flex;
  cursor: pointer;
}

.background {
  position: fixed;
  inset: 90px 0;
  background-color: rgba(0, 0, 0, .8);
  opacity: .9;
  height: 100%;
  z-index: 9;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .nav {
    width: 689px;
  }

  .nav-list {
    display: inline-flex;
    gap: 42px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .nav-list__item > a {
    color: var(--darkGrey);
  }
}

@media screen and (min-width: 1440px) {
  .nav {
    width: 1111px;
  }
}
