@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

:root {
  /* font-family */
  --jost: 'Jost', sans-serif;

  /* colors */
  --peach: hsl(11, 73%, 66%);
  --lightPeach: hsl(11, 100%, 80%);
  --black: hsl(270, 3%, 11%);
  --darkGrey: hsl(264, 5%, 20%);
  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(210, 17%, 95%);

  z-index: 5;
}

body {
  position: relative;
  margin: 0;
  font-family: var(--jost);
  z-index: 5;
}

.root {
  max-width: 1440px;
  margin-inline: auto;
  overflow: hidden;
  /*outline: 1px solid red;*/
}
.main {

}

a {
  text-decoration: none;
}

.content {
  max-width: 1110px;
}

/* typography */
.heading1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
  color: var(--black);
}
.heading2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 2px;
  color: var(--black);
}
.heading3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--darkGrey);
}
.regular {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--darkGrey);
}

/* buttons */
.btn {
  position: relative;
  z-index: 5;
  border: 0;
  border-radius: 8px;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.btn-on-dark {
  background-color: var(--white);
  color: var(--darkGrey);
}
.btn-on-dark:hover {
  background-color: var(--lightPeach);
  color: var(--white);
}

.btn-on-light {
  background-color: var(--peach);
  color: var(--white);
}
.btn-on-light:hover {
  background-color: var(--lightPeach);
  color: var(--white);
}

/* card  */
.card {
  background-color: var(--peach);
  width: 100%;
}
.card-top {
  height: 320px;
  /*background-image: url(./assets/shared/tablet/bg-pattern-design-pages-intro-tablet.svg);*/
  background-position: top right;
  background-repeat: no-repeat;
}
.card-bottom {
  height: 292px;
}

@media screen and (min-width: 768px) {
  .main {
    width: 689px;
    margin-inline: auto;
  }

  .card {
    border-radius: 15px;
  }
  .card-top {
    height: 252px;
    background-position: center;
  }
  .card-bottom {
    height: 350px;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    width: 1111px;
  }

  .card-top {
    background-position: center left;
  }
  .card-bottom {
    height: 292px;
  }

}

.app-design-bg {
  background-image: url(./assets/app-design/desktop/bg-pattern-intro-app.svg);
  background-position: left center;
  background-position-x: -50px;
}